* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.a{
    height: 10px;
    width: 40px;
    background-color: aquamarine;
    margin-bottom: 10px;
}

nav ul li{
    float: right;
    display: inline;git
}


footer {
    width: 1200px;
    height: 500px;
    background-color: black;
    margin: 0 auto;
    position: relative;
    bottom: 0;
}